.form_wrapper{
	padding: 5px;
	border: 1px solid #56a758;
	background-color: white;
	box-shadow: 0 10px 6px -6px #777;
}

.form_header{
	text-align: center;
	margin-bottom: 5px;
	font-size: 22px;
}

.form_section {
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 14px;
}

.form_section > input {
	border: none;
	border-bottom: 1px dashed grey;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #56a758;
}

.form_section > input:focus{
	outline:none;
	border-bottom: 1px dashed #56a758;
}

.form_section.section_inline{
	flex-direction: row;
	align-items: flex-end;
	
}

.form_checkbox {
	margin: 0;
	margin-left: 4px;
	color: green;
	border: 1px solid green;
}

.form_buttons {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.form_error {
	background-color: #F9A6A6;
	border-radius: 5px;
	padding: 10px;
	color: #801919;
	border: 1px solid #801919;
}

.btn{
	padding: 5px 10px 5px 10px;
	border:none;
	border-radius: 2px;
}

.btn:hover{
	cursor:pointer;
}

.btn:focus{
	outline:none;
}

.primary_btn{
	background-color: #56a758;
	color: white;	
	border: 1px solid #146614;
}

.default_btn{
	color: grey;
	background-color: white;
}
